__pycache__/
*.py[cod]

.ipynb_checkpoints/
.spyderproject/
.spyproject/

build/
dist/
eggs/
*.egg-info/
*.egg
wheels/

*Verknüpfung.lnk

Datenblätter/
dependencies/
issues/
tools/

## Wifi credentials { <ap> : <pwd> }
creds.py
