__pycache__/
*.py[cod]

.ipynb_checkpoints/
.spyderproject/
.spyproject/

build/
dist/
eggs/
*.egg-info/
*.egg
wheels/

*Verknüpfung.lnk

DotMatrix fonts/characters_*.xslx
Datenblätter/
dependencies/
issues/
tools/

creds.py
